.vs/
.idea/
.git/
.build/
MintMod/bin/
MintMod/obj/
MintMod/Output/
MintMod/packages/
MintMod/.vs/
MintyLoader/bin/
MintyLoader/obj/
packages/
desktop.ini
Mint.WMC/bin/
Mint.WMC/obj/
MintyNameplates/bin/
MintyNameplates/obj/
MintyNameplates/mnsaver.json
test.bable
x64/
MintyNative/Debug/
MintyNative/Release/
MintyNative/x64/
3rdparty/
MintNET6/
ReModCorePlugin/bin/
ReModCorePlugin/obj/